.program {
    position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--brand-purple);
  z-index: 1;
  
}
.program-background {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: 10;
}
.program-background2 {
  position: absolute;
  top:0;
  width: 100vw;
  z-index: 11;
}
.program-grid {
  position: relative;
  z-index: 100;
}
.programsection-heading {
  color: white;
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.program-header {
  position: relative;
  z-index: 100;
  text-align: center;
}
.program-download-button {
  display: inline-block;
  background: var(--brand-orange) !important;
  margin-bottom: 2rem;
}