.kandidat{
    width: 15rem;
    height: 20rem;
    background-color: var(--brand-orange);
    padding: 1rem;
    padding-bottom: 4rem;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden; /* Zabrání obsahu, aby přetékal přes zaoblené rohy */
    cursor: pointer; /* Změní kurzor na ukazovátko při najetí */
}
.kandidat-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zajistí, že obrázek vyplní celý prostor bez deformace */
    background-color: var(--brand-purple);
    border-radius: var(--border-radius);
}
.kandidat-description,
.kandidat-name {
    /* Přidá plynulý přechod pro mizení */
    transition: opacity 0.3s ease-in-out;
}
.kandidat-name {
    bottom: 2rem;
    left: 1rem;
    position: absolute;
    text-align: left;
    color: var(--brand-purple);
    position: absolute;
    text-align: center;
}
.kandidat-description {
    bottom: 0.7rem;
    right: 1rem;
    position: absolute;
    text-align: right;
    color: var(--brand-purple);
}
.sipka
{
    position:relative;
    top:0.3rem;
    color: var(--brand-purple);
}

.kandidat-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(45, 33, 86, 0.85); /* Tmavší fialový překryv s průhledností */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    text-align: center;
}

.kandidat:hover .kandidat-hover {
    opacity: 1;
    visibility: visible;
}

.kandidat:hover .kandidat-description,
.kandidat:hover .kandidat-name {
    opacity: 0;
}