/* ===== HERO ===== */

.placeholder-navbar {
  height: calc(10vh + 2rem);
  max-height: calc(8rem + 2rem);
}
.hero {
    background-color: var(--brand-orange);
    max-height: 35rem;
}

.hero-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.hero-title {
  font-size: 6rem;
  margin-bottom: 1.2rem;
  text-align: center;
  max-width: calc(var(--container-width)- 20rem);
  color: var(--brand-purple);
}

.hero-text {
  font-size: 1.1rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.hero-image {
  width: var(--container-width);
  height: auto;
  border-radius: calc(var(--border-radius) + 0.2rem);
}