/* ===== HERO ===== */

.placeholder-navbar {
  height: calc(10vh + 2rem);
  max-height: calc(8rem + 2rem);
}
.hero2 {
    background-color: var(--brand-turquoise);
}

.hero2-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  height: 120vh;
}